/* index */

@media (max-width: 375px) and (min-width: 320px) {
  .fa-angle-up {
    display: none;
  }
  .container {
    margin-top: 190px;
  }

  .nav-link {
    display: block;
    font-size: small;
  }

  #heading {
    width: 111vw;
  }

  .text h1 {
    font-size: 55px;
  }

  .text {
    width: 50%;
  }
  /* landing */

  #navbar {
    width: -webkit-fill-available;
    padding-right: 0px;
  }

  #navbar img {
    width: 90px;
  }

  #layout {
    display: block;
  }

  .about-pic {
    width: 97vw;
    margin: 5px;
  }

  .products {
    padding-inline: 0px;
  }

  .form-container {
    display: block;
  }

  .form-layout {
    padding-left: 0px;
    width: auto;
  }

  .landing-signup-form {
    height: fit-content;
    text-align: center;
    width: 111vw;
  }

  /* landing-login */
  .landing-login-form {
    height: fit-content;
    text-align: center;
    width: 111vw;
  }

  .landing-login-info {
    width: 100%;
  }

  .login-btn {
    display: inline;
  }

  .login-btn button {
    display: block;
  }

  #footer-bottom {
    width: 111vw;
  }

  .footer-layout ul {
    display: block;
    padding-left: 0px;
  }

  .footer-column {
    display: flex;

    margin-inline: 0px;
  }

  /* LANDING */

  #product-section {
    display: block;
  }

  .products img {
    height: 33vh;
    width: 90vw;
  }

  /* WOMEN */
  .mySlides .text {
    display: flex;
    padding: 80px;
  }

  #products {
    display: inline-block;
    margin-left: 20px;
  }

  .card {
    margin-top: 20px;
  }

  /* MEN */
  .slideshow-container {
    margin-top: 171px;
  }
  .mySlides img {
    width: 112vw;
  }
  /* Cart */
  .cartProduct {
    display: block;
  }
  .card-cart ul {
    margin-top: 190px;
  }

  .product-image img {
    width: 100% !important;
  }
  .card-cart input {
    width: 45% !important;
  }

  #total {
    display: block;
    margin-left: 45px;
  }
  /* CONTACT */

  .contact-form,
  signup-form,
  login-form {
    display: block;
    margin-top: 63%;
    padding-block: 40px;
    margin-left: 0px;
    margin-right: -41px;
  }
  .contact-btn {
    margin: 20px;
    display: block;
    padding: 0px;
  }
  /* LOGIN  */
  .login-form {
    height: 60vh;
  }
}

@media (max-width: 425px) and (min-width: 376px) {
  /* navbar */
  .container {
    margin-top: 190px;
  }
  #navbar img {
    width: 38%;
  }

  .nav-link {
    display: block;
    font-size: small;
  }

  #navbar {
    width: auto;
    padding-right: 0px;
  }

  #navbar img {
    width: 25%;
  }

  /* main */
  .text h1 {
    font-size: 85px;
  }
  .text {
    flex-wrap: none;
    width: 100%;
  }

  #product-section {
    display: block;
  }

  .products img {
    height: 33vh;
    width: 104vw !important;
  }

  /* footer */
  #footer-bottom {
    width: 116vw;
  }

  /* index */
  .form-container {
    display: block;
  }

  .form-layout {
    padding-left: 0px;
    width: auto;
  }

  /* women */

  .slideshow-container {
    margin-top: 171px;
  }

  /* signup */
  .landing-signup-form {
    height: fit-content;
  }

  /* landing-login */
  .landing-login-form {
    height: fit-content;
  }

  .landing-login-info {
    width: 100%;
  }

  .login-btn {
    display: inline;
  }

  .login-btn button {
    display: block;
  }

  #footer-bottom {
    width: 111vw;
  }
  .footer-layout ul {
    display: block;
    padding-left: 0px;
  }

  .footer-column {
    display: flex;
    margin-inline: 0px;
  }
  .form-container {
    display: block;
  }
  .form-layout {
    padding-left: 0px;
  }

  /* header */
  #heading {
    width: 111vw;
  }

  /* women */
  .mySlides img {
    width: 112vw;
  }

  #layout {
    display: block;
  }

  #products {
    display: inline-block;
    margin-left: 70px;
  }

  .about-pic {
    width: 250px;
  }
  .card {
    margin-top: 20px;
  }

  /* CART */
  .cartProduct {
    display: block;
  }
  .card-cart ul {
    margin-top: 190px;
  }

  .product-image img {
    width: 100% !important;
  }
  .card-cart input {
    width: 45% !important;
  }

  #total {
    display: block;
    margin-left: 45px;
  }
  /* CONTACT */

  .contact-form,
  signup-form,
  login-form {
    display: block;
    margin-top: 63%;
    padding-block: 40px;
    margin-left: 0px;
    margin-right: -41px;
  }
  .contact-btn {
    margin: 20px;
    display: block;
    padding: 0px;
  }
  /* LOGIN  */
  .login-form {
    height: 60vh;
  }
}

@media (max-width: 786px) and (min-width: 426px) {
  .footer-layout ul {
    display: block;
  }
  .form-layout {
    padding-left: 1px;
  }

  .landing-signup-form {
    height: 95vh;
  }

  /* Women */
  .card h4 {
    text-align: center;
    font-size: 13px;
  }

  #cartProducts {
    display: flex;
    margin-bottom: 100px;
  }

  .login-btn {
    display: contents;
    margin-top: 5px;
  }
}
