/* index */

@media (max-width: 475px) and (min-width: 320px) {
  #navbar img {
    width: 38%;
  }

  .nav-link {
    display: block;
  }

  #heading {
    width: 100vw;
  }

  .text h1 {
    font-size: 55px;
  }

  #layout {
    display: block;
  }

  .about-pic {
    width: 100vw;
  }

  /* landing */
  #navbar {
    width: auto;
    padding-right: 0px;
  }
  #navbar img {
    width: 25%;
  }
  .form-container {
    display: block;
  }

  .form-layout {
    padding-left: 0px;
    width: auto;
  }

  .landing-signup-form {
    height: fit-content;
  }

  /* landing-login */
  .landing-login-form {
    height: fit-content;
  }

  .landing-login-info {
    width: 100%;
  }

  .login-btn {
    display: inline-flex;
  }

  .footer-layout ul {
    display: block;
  }

  .footer-column {
    display: contents;
    text-align: center;
    margin-inline: none;
    text-transform: uppercase;
    align-items: center;
    flex-direction: column;
  }
}
