#cartProducts {
  margin-top: 10%;
}

ol {
  color: white;
}

.card-cart h4 {
  color: white;
}

.footer-bottom {
  position: fixed;
}

.product-image img {
  width: 20%;
}

/* remove button */

.remove {
  background-color: #912f40;
}

.remove:hover {
  background-color: #323332;
}

/* total */
#total {
  text-align: center;
  font-size: xxx-large;
  color: #912f40;
  border: solid 3px #912f40;
  margin-top: 60%;
}
