* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  max-width: none;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
/* INDEX SIGN UP */
.signup-form h3 {
  color: white;
  text-align: center;
}
.signup-form {
  border-left: #912f40 solid 10px;
  border-right: #912f40 solid 10px;
  background-color: #323332;
  padding: 40px;
  margin-top: 40px;
}

.sign-info input {
  padding: 30px;
  width: 100%;
}

.submit-btn {
  padding: 10px;
  display: inline-flex;
  margin-inline: 38px;
}

.submit-btn button:hover {
  background-color: #912f40;
}
.submit-btn button {
  padding: 10px;
  border: none;
  border-radius: 25px;
}

/* INDEX LOGIN */
.login-form h3 {
  color: white;
  text-align: center;
}
.login-form {
  border-left: #912f40 solid 10px;
  border-right: #912f40 solid 10px;
  background-color: #323332;
  padding: 40px;
  height: 80vh;
  margin-top: 40px;
}

.login-info input {
  padding: 30px;
  width: 100%;
  border: none;
}

.login-btn {
  display: inline-flex;
  margin-inline: 38px;
  padding: 100px 35px;
}

.login-btn button:hover {
  background-color: #912f40;
}
.login-btn button {
  padding: 10px;
  border: none;
  border-radius: 25px;
}

/* CONTACT */

.contact-form h3 {
  color: white;
  text-align: center;
}
.contact-form {
  border-left: #912f40 solid 10px;
  border-right: #912f40 solid 10px;
  background-color: #323332;
  padding: 40px;
  margin-top: 40px;
}

.contact-info input {
  padding: 30px;
  width: 100%;
}

.contact-info input {
  padding: 30px;
  width: 100%;
  border: none;
}

.contact-btn {
  display: inline-flex;
  margin-inline: 38px;
  padding: 100px 35px;
}

.contact-btn button:hover {
  background-color: #912f40;
}

.contact-btn button {
  padding: 10px;
  border: none;
  border-radius: 25px;
}

/* LANDING */
/* LANDING SIGNUP */
.landing-signup-form {
  border-left: #912f40 solid 10px;
  border-right: #912f40 solid 10px;
  background-color: #323332;
  padding: 40px;
  height: 122vh;
  margin-top: 40px;
  border-radius: 50px;
}

.landing-sign-info input {
  padding: 30px;
  width: 100%;
}

.submit-btn {
  padding: 10px;
  display: inline-flex;
  margin-inline: 38px;
}

.submit-btn button:hover {
  background-color: #912f40;
}
.submit-btn button {
  padding: 10px;
  border: none;
  border-radius: 25px;
}

/* LANDING LOGIN */
.login-form h3 {
  color: white;
  text-align: center;
}
.landing-login-form {
  border-left: #912f40 solid 10px;
  border-right: #912f40 solid 10px;
  background-color: #323332;
  padding: 40px;
  height: 80vh;
  margin-top: 40px;
  border-radius: 50px;
}

.landing-login-info input {
  padding: 30px;
  width: 100%;
  border: none;
}

.login-btn {
  display: inline-flex;
  margin-inline: 38px;
  padding: 100px 35px;
}

.login-btn button:hover {
  background-color: #912f40;
}
.login-btn button {
  padding: 10px;
  border: none;
  border-radius: 25px;
}
