html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #323332;
  line-height: 1.6;
}

.text h1 {
  color: #912f40;
  font-size: 100px;
  font-family: cursive;
}

#heading {
  object-fit: cover;
  align-items: center;
}

#heading {
  height: 100vh;
  background-size: cover;
  animation: backgroundChanger 5s infinite;
}

@keyframes backgroundChanger {
  0% {
    background-image: url("../images/high-fashion-landing-background.jpg");
    object-fit: cover;
  }
  50% {
    background-image: url("../images/landing-slider.jpg");
  }
  100% {
    background-image: url("../images/landing-slider2.jpg");
  }
}

.text {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#layout {
}

.about-info {
  padding-inline: 20px;
}
.about-info h3 {
  color: #912f40;
}

.about-info p {
  color: white;
}
.about-pic {
  width: 20%;
  height: 50%;
  object-fit: cover;
  margin: 10px;
}

/* Product Section */

.products img {
  width: 48vw;
  height: 100vh;
  object-fit: cover;
}

#product-section {
}
