* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.title-section {
  display: flex;
  background-image: url(/assets/images/high-fashion-landing-background.jpg);
  object-fit: cover;
}
.title-layout {
  height: 50vh;
  width: 100%;
  min-width: 100%;
  background-size: cover;
  animation: backgroundChanger 5s infinite;
}

@keyframes backgroundChanger{
  0%{
    background-image:url("../images/high-fashion-landing-background.jpg")
  }
  50%{
    background-image: url("../images/pexels-andrea-piacquadio-842811.jpg");
  }
  100%{
    background-image:url("../images/pexels-sharkbite-2686043.jpg")
  }
}
.heading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about-layout {
  display: flex;
}

.about-section {
  margin: 30px 100px 0px 100px;
}

.why-section {
  margin: 30px 100px 0px 100px;
}

.why-layout {
  display: flex;
}
.about-pic {
  width: 20%;
  height: 50%;
  object-fit: contain;
  padding-inline: 35px;
}

/* Product Section */

.product-section {
  display: flex;
  background-color: #353332;
  margin: 30px 100px 0px 100px;
}

.products-link {
  width: 48%;
  margin: 8px;
}

/* Popular section */
.popular-section {
  margin: 30px 0px 0px 0px;
}
.popular-female-product,
.popular-male-product {
  background-color: #353332;
  color: white;
}

.popular-female-product h4,
.popular-male-product h4 {
  text-align: center;
  padding: 16px;
  margin-bottom: 15px;
}
.popular {
  width: 20%;
}
