html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  line-height: 1.6;
}

#heading {
  display: flex;
  object-fit: cover;
}
#heading {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  animation: backgroundChanger 5s infinite;
}

@keyframes backgroundChanger {
  0% {
    background-image: url("../images/high-fashion-landing-background.jpg");
    object-fit: cover;
  }
  50% {
    background-image: url("../images/pexels-andrea-piacquadio-842811.jpg");
  }
  100% {
    background-image: url("../images/pexels-sharkbite-2686043.jpg");
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#layout {
  display: flex;
}

.about-pic {
  width: 50%;
  height: 60%;
  object-fit: cover;
  padding-inline: 35px;
}

/* Product Section */

.products img {
  width: 48vw;
  height: 100vh;
  object-fit: cover;
}

#product-section {
  display: flex;
  background-color: #323332;
}
/*
.products-link {
  width: 48%;
  margin: 8px;
} */

/* Popular section */
/* #popular-section {
  margin: 30px 0px 0px 0px;
}
.popular-female-product,
.popular-male-product {
  background-color: #353332;
  color: white;
}

.popular-female-product h4,
.popular-male-product h4 {
  text-align: center;
  padding: 16px;
  margin-bottom: 15px;
}
.popular {
  width: 20%;
} */
