html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #323332;
  line-height: 1.6;
}

.text h1 {
  color: #912f40;
  font-size: 100px;
  font-family: cursive;
}

#heading {
  object-fit: cover;
  align-items: center;
}

#heading {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  animation: backgroundChanger 5s infinite;
  display: flex;
}

@keyframes backgroundChanger {
  0% {
    background-image: url("../images/high-fashion-landing-background.jpg");
    object-fit: cover;
  }
  50% {
    background-image: url("../images/landing-slider.jpg");
  }
  100% {
    background-image: url("../images/men-slider3.jpg");
    object-fit: cover;
  }
}

/* LAYOUT */
.text {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
}

#layout {
  display: inline-flex;
}

.about-info {
  padding-inline: 20px;
}
.about-info h3 {
  color: #912f40;
}

.about-info p {
  color: white;
}
.about-pic {
  width: 20%;
  height: 50%;
  object-fit: cover;
  margin: 10px;
}

/* Product Section */

.products {
  padding-inline: 5px;
}
.products img {
  width: 48vw;
  height: 100vh;
  object-fit: cover;
}

#product-section {
  display: inline-flex;
}

.hidden {
  opacity: 0;
}

#loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #323332;
}

.preloader {
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  background: #912f40;
  transform: rotate(45deg);
  animation: preloader 2s linear infinite;
}

.loadBar {
  position: absolute;
  width: 200px;
  height: 2px;
  left: calc(50% - 100px);
  top: calc(50% + 60px);
  background: #323332;
}

.progress {
  position: relative;
  width: 0%;
  height: inherit;
  background: #912f40;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes preloader {
  0%,
  100% {
    transform: rotate(45deg);
  }

  60% {
    transform: rotate(405deg);
  }
}
