/* * {
    box-sizing: border-box;
}

h3 {
    background-color: #323332;
    text-align: center;
    color: white;
}

.container {
    max-width: none;
    background-color: #a47410;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navi {
    display: flex;
    text-align: center;
    margin-left: 450px;
}

.nav-link {
    color: black;
}

.navi a:hover {
    color: #323332;
}

/* STYLING SLIDE SHOW */
/* .mySlides {
    display: none;
}

.mySlides img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

img {
    vertical-align: middle;
} */

/* Slideshow container */
/* .slideshow-container {
    margin-top: 100px;
} */

/* Caption text */
/* .text {
    color: white;
    font-size: 50px;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} */

/* .active {
    background-color: blue;
} */

/* Fading animation */
/* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {
    opacity: 0.4;
}
to {
    opacity: 1;
}
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
} */

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
} */

/* products */

/* .men-list ul {
    display: flex;
    list-style: none;
}

.men-info img {
    width: 100%;
    object-fit: cover;
    height: 90%;
}
  
.men-info p {
    display: flex;
    text-align: center;
    flex-direction: column;
} */ 
  