html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  position: fixed;
  top: 0px;
}

.navbar {
  position: fixed;
  background-color: #a47410;
}

.navi {
  display: flex;
  margin-left: 155px;
  margin-left: 70px;
}
.nav-link {
  display: inline;
  list-style-type: none;
  text-decoration-line: none;
  text-transform: uppercase;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 15px;
  justify-content: center;
}

li {
  margin-inline: 26px;
}

.nav-link,
.fa {
  text-decoration-line: none;
  color: black;
}

.navbar a:hover {
  color: #c5c5c5;
  opacity: 1;
}

/* footer */

.footer {
  background-color: #353332;
  position: relative;
  bottom: 0px;
}

.footer-layout {
  padding: 10px 5px;
  width: 100%;
}

.footer-layout th {
  display: inline-flex;
  padding-inline: 160px;
}

.footerlayout tr {
  display: flex;
  padding-inline: 46%;
}

.footer-group-links,
.footer-info {
  display: inline;
}

.footer-links {
  margin: 0px 0px 0px 0px;
}
