html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background2.jpg");
}

.container {
  max-width: none;
 
  margin-top: 15px
}

/* button */
#top{
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  bottom: 200px;
  right: 0;
  background-color: #A47410;;
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#top:hover {
  background-color: #555;
}

/* navigation */

#navbar {
  width: 100%;
}

#navbar ul {
  display: flex;
  list-style: none;
  background-color: #c5c5c5;
  justify-content: space-evenly;
  padding: 10px;
  color: black;
}

#navbar a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#navbar a:hover {
  color: #323332;
  text-decoration: underline;
  text-decoration-color: #323332
  
}

/* footer */

#footer-bottom {
  bottom: 0px;
  background-color: #c5c5c5;
  width: 100%;
}

.footer-layout ul {
  list-style: none;
  display: flex;
}

.footer-column {
  display: block;
  text-align: center;
  margin-inline: 173px;
  text-transform: uppercase;
}

.footer-column h3 {
  background-color: none;
}
.footer-column a {
  text-decoration: none;
  color: black;
}

.footer-column a:hover{
  color: #323332;
  text-decoration: underline;
}