html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background2.jpg");
}

.container {
  max-width: none;

  margin-top: 15px;
}

/* button */
#top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  bottom: 200px;
  right: 0;
  background-color: #912f40;
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#top:hover {
  background-color: #555;
}

/* navigation */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5c5c5;
  padding: 0px 5%;
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav-link {
  display: flex;
  list-style-type: none;
  transition: all 0.3s linear;
}
#navbar img {
  width: 5%;
}
#navbar a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

#navbar a:hover {
  color: #912f40;
  text-decoration: underline;
  text-decoration-color: #912f40;
}

/* footer */

#footer-bottom {
  margin-top: 20px;
  bottom: 0px;
  background-color: #c5c5c5;
  width: 100%;
}

.footer-layout {
  display: flex;
  justify-content: center;
}
.footer-layout ul {
  list-style: none;
  display: flex;
}

.footer-column {
  display: flex;
  text-align: center;
  margin-inline: 126px;
  text-transform: uppercase;
  align-items: center;
  flex-direction: column;
}

.footer-column h3 {
  background-color: none;
}
.footer-column a {
  text-decoration: none;
  color: black;
}

.footer-column a:hover {
  color: #912f40;
  text-decoration: underline;
}
