* {
  box-sizing: border-box;
}

h3 {
  background-color: #323332;
  text-align: center;
  color: white;
}

.container {
  max-width: none;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navi {
  display: flex;
  text-align: center;
  margin-left: 450px;
}

.nav-link {
  color: black;
}

.navi a:hover {
  color: #323332;
}

/* STYLING SLIDE SHOW */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  margin-top: 100px;
}

/* Caption text */
.text {
  color: white;
  font-size: 50px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #912f40;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* SEARCH BAR */
.search-container {
  display: flex;
  justify-content: center;
  margin: 13px 0px;
}

/* VIEW PRODUCT */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card img {
  width: 200px;
  height: 200px;
}

/* PRODUCT */

#products {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 2%;
  flex-basis: 16%;
}

.product-image img {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
}

/* POPUP PRODUCT */

.popup-btn {
  /* border: none !important; */
  /* font-size: 1.3rem; */
  /* color: #912f40 !important; */
  font-family: "Montserrat", sans-serif;
  /* padding: 0 !important; */
}
.popup-btn:hover {
  background-color: transparent;
  color: #323332;
  border: none;
  font-weight: 400;
}
.popup-btn::after {
  content: "\f0d1";
  font-family: "Font Awesome 5 Free";
  color: #222;
  font-weight: 600;
  margin-left: 5px;
}
.popup {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: #912f40;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #323332;
  text-decoration: none;
  cursor: pointer;
}
.popup-title {
  padding: 2px 16px;
  background-color: white;
  color: white;
}
.popup-title h2 {
  color: #222;
}
.popup-body {
  padding: 50px;
}
/* .popup-footer {
    padding: 2px 16px;
    background-color: #f8be1c;
    color: white;
} */
