* {
  box-sizing: border-box;
}

h3 {
  background-color: #323332;
  text-align: center;
  color: white;
}

.container {
  max-width: none;
}

#navbar{
  z-index: 3000;
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navi {
  display: flex;
  text-align: center;
  margin-left: 450px;
}

.nav-link {
  color: black;
}

.navi a:hover {
  color: #323332;
}

/* STYLING SLIDE SHOW */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  margin-top: 100px;
}

/* Caption text */
.text {
  color: white;
  font-size: 50px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #912f40;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* products */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
}

/* VIEW PRODUCT */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-header {
  padding: 2px 16px;
  background-color: #912f40;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.side-img img {
  width: 40%;
}

.modal-body p {
  color: black;
  display: inline;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #912f40;
  color: white;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.card img {
  width: 200px;
  height: 200px;
}
