* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a47410;
}

.row {
  height: 100vh;
  display: grid;
  background-image: url("/vcode/assets/images/high-fashion-landing-background.jpg");
}

.heading {
  text-align: center;
  background-image: url("/vcode/assets/images/high-fashion-landing-background.jpg");
}

.row3 {
  display: flex;
}

.about-section {
  margin: 30px 100px 0px 100px;
}

.why-section {
  margin: 30px 100px 0px 100px;
}

.row4 {
  display: flex;
}
.about-pic {
  width: 20%;
  height: 50%;
  object-fit: contain;
  padding-inline: 35px;
}

/* Product Section */

.product-section {
  display: flex;
  background-color: #353332;
  margin: 30px 100px 0px 100px;
}

.products-link {
  width: 48%;
  margin: 9px;
}

/* Popular section */
.popular-section {
  margin: 30px 0px 0px 0px;
}
.popular-female-product,
.popular-male-product {
  background-color: #353332;
  color: white;
}

.popular-female-product h4,
.popular-male-product h4 {
  text-align: center;
  padding: 16px;
  margin-bottom: 15px;
}
.popular {
  width: 20%;
}
